# I am going to create dummy data for practise only
#The description of each column is as follows

In [ ]:
# 1. age
# 2.gender
# 3.demographics
# 4.interest
# 5.device type
# 6.location
# 7.platform: the social media platform where a user spend time
# 8.profession: a user profession status/occupants
# 9.income:yeary income of a user
# 10.indebt:indicate whether a user has a debp or nor(true or false)
# 11.homeowner:indicate wheather a user own a home or not
# 12.owns_cars:Indicate a user wheather owns a car or not(true or false)

In [2]:
# import necessary libraries for data analysis 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
import plotly.offline as pyo
# warnings.filterwarnings('ignore')

In [4]:
#data creation 
num_rows = 500
data = {
    'age':np.random.randint(14,65,num_rows),
    'gender':np.random.choice(['Male','Female'],num_rows),
    'demographic':np.random.choice(['urban', 'suburban','rural'],num_rows),
    'interest':np.random.choice(['Technology', 'Sports', 'Fashion', 'Travel','Porn'], num_rows),
    'device_type':np.random.choice(['Mobile','Desktop','Table'], num_rows),
    'device_brand': np.random.choice(['GooglePexel','Iphone','Tecno','Samsung','Itel','Microsoft','Vivo', 'Apple'], num_rows),
    'location':np.random.choice(['UK','Tanzania','US','Canada'], num_rows),
    'platform': np.random.choice(['Facebook', 'Instagram', 'Twitter', 'LinkedIn'], num_rows),
    'profession': np.random.choice(['Student', 'Engineer', 'Doctor', 'Teacher', 'Manager'], num_rows),  
    'income': np.random.randint(20000, 150000, num_rows),  
    'indebt': np.random.choice([True, False], num_rows), 
    'homeowner': np.random.choice([True, False], num_rows), 
    'owns_cars': np.random.choice([True, False], num_rows)  
   
}
file_path = 'data/data.csv'
df = pd.DataFrame(data)
df.to_csv(file_path, index=False)
print("CSV file is saved successfuly at:", file_path)

CSV file is saved successfuly at: data/data.csv

In [7]:
data2 = pd.read_csv('data/data.csv')
data2.head()

,age,gender,demographic,interest,device_type,device_brand,location,platform,profession,income,indebt,homeowner,owns_cars
0,19,Male,urban,Sports,Mobile,Tecno,US,Instagram,Student,20847,True,False,True
1,48,Male,urban,Sports,Mobile,Vivo,UK,Facebook,Doctor,90797,False,False,False
2,46,Male,rural,Porn,Desktop,Apple,Tanzania,Instagram,Teacher,73844,True,False,True
3,63,Male,rural,Sports,Desktop,Samsung,US,Twitter,Manager,48276,True,True,True
4,55,Female,urban,Fashion,Table,Iphone,Canada,LinkedIn,Manager,73124,True,True,False

In [ ]:
#I GO DO THE DATA PREPROCESSING 
# 1. CHECKING THE DATA SHAPE
# 2. CHECKING THE NULL VALUES
# 3. SOME STATISTICAL INFORMATION
# 4. INFORMATION ABOUT THE DATA

In [17]:
def checking_data_information(data_frame):
    shape = data_frame.shape
    print('*' * 80)
    
    # Calculate null values
    null_values = data_frame.isna().sum() / len(data_frame)
    print(null_values)
    print('$' * 80)
    
    # Print DataFrame information
    print(data_frame.info())
    print('&' * 80)
    
    # Calculate and print the number of duplicated values
    duplicated_value = data_frame.duplicated().sum()  # Corrected from data.duplicate() to data_frame.duplicated()
    print(f'The dataset contains {duplicated_value} duplicated values')
    
    return shape, null_values, data_frame.info()

# Assuming 'data2' is your DataFrame
print(checking_data_information(data2))

********************************************************************************
age             0.0
gender          0.0
demographic     0.0
interest        0.0
device_type     0.0
device_brand    0.0
location        0.0
platform        0.0
profession      0.0
income          0.0
indebt          0.0
homeowner       0.0
owns_cars       0.0
dtype: float64
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           500 non-null    int64
 1   gender        500 non-null    object
 2   demographic   500 non-null    object
 3   interest      500 non-null    object
 4   device_type   500 non-null    object
 5   device_brand  500 non-null    object
 6   location      500 non-null    object
 7   platform      500 non-null    object
 8   profession    500 non-null    object
 9   income        500 non-null    int64
 10  indebt        500 non-null    bool
 11  homeowner     500 non-null    bool
 12  owns_cars     500 non-null    bool
dtypes: bool(3), int64(2), object(8)
memory usage: 40.7+ KB
None
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
The dataset contains 0 duplicated values
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           500 non-null    int64
 1   gender        500 non-null    object
 2   demographic   500 non-null    object
 3   interest      500 non-null    object
 4   device_type   500 non-null    object
 5   device_brand  500 non-null    object
 6   location      500 non-null    object
 7   platform      500 non-null    object
 8   profession    500 non-null    object
 9   income        500 non-null    int64
 10  indebt        500 non-null    bool
 11  homeowner     500 non-null    bool
 12  owns_cars     500 non-null    bool
dtypes: bool(3), int64(2), object(8)
memory usage: 40.7+ KB
((500, 13), age             0.0
gender          0.0
demographic     0.0
interest        0.0
device_type     0.0
device_brand    0.0
location        0.0
platform        0.0
profession      0.0
income          0.0
indebt          0.0
homeowner       0.0
owns_cars       0.0
dtype: float64, None)